<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacto</title>
	<link rel="shortcut icon" href="../assets/img/favicon.png">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<header>
		<div class="header--text">
			<img src="../assets/img/logo_bts.jpg">
			<img src="../assets/img/logo_txt.png">
			<img src="../assets/img/logo_kard.png">
			KPOP-STORE
			<img src="../assets/img/logo_got.png">
			<img src="../assets/img/logo_twice.jpg">
			<img src="../assets/img/logo_straykids.png">
		</div>
		<nav>
			<ul class="header__nav header__nav--background">
				<li class="nav__item"><a class="nav__item--text nav__item--link" href="../index.html">Home</a></li>
				<li class="nav__item"><a class="nav__item--text nav__item--link" href="productos.html">Productos</a></li>
				<li class="nav__item"><a class="nav__item--text nav__item--link" href="grupos.html">Grupos</a></li>
				<li class="nav__item"><a class="nav__item--text nav__item--link" href="noticias.html">Noticias KPop</a></li>
				<li class="nav__item"><a class="nav__item--text nav__item--link" href="contacto.html">Contacto</a></li>
			</ul>
			<hr>
		</nav>
	</header>
	<main>
		<h2><span class="main__titulos--texto">CONTACTO</span></h2>
		<form class="form--text">
			<label for="nombre">Nombre:</label>
			<br>
			<input type="text" name="nombre" placeholder="Ana">
			<br>
			<label for="apellido">Apellido:</label>
			<br>
			<input type="text" name="apellido" placeholder="Lopez">
			<br>
			<label for="edad">Edad:</label>
			<br>
			<input type="text" name="edad">
			<br>
			<label for="mail">Mail:</label>
			<br>
			<input type="email" name="Mail" placeholder="nombre@ejemplo.com">
			<br>
			<p>Sexo:</p>
			<label>
				<input type="radio" name="Sexo" value="hombre">Hombre
			</label>
			<label>
				<input type="radio" name="Sexo" value="mujer">Mujer
			</label>
			<br>
			<br>
			<label for="provincia">Provincia:</label>
			<select name="provincia">
				<option value="buenos_aires">Buenos Aires</option>
				<option value="caba">CABA</option>
				<option value="catamarca">Catamarca</option>
				<option value="chaco">Chaco</option>
				<option value="chubut">Chubut</option>
				<option value="cordoba">Córdoba</option>
				<option value="corrientes">Corrientes</option>
				<option value="entre_rios">Entre Ríos</option>
				<option value="formosa">Formosa</option>
				<option value="jujuy">Jujuy</option>
				<option value="la_pampa">La Pampa</option>
				<option value="la_rioja">La Rioja</option>
				<option value="mendoza">Mendoza</option>
				<option value="misiones">Misiones</option>
				<option value="neuquen">Neuquén</option>
				<option value="rio_negro">Río Negro</option>
				<option value="salta">Salta</option>
				<option value="san_juan">San Juan</option>
				<option value="san_luis">San Luis</option>
				<option value="santa_cruz">Santa Cruz</option>
				<option value="santa_fe">Santa Fe</option>
				<option value="santiago_del_estero">Santiago del Estero</option>
				<option value="tierra_del_fuego">Tierra del Fuego</option>
				<option value="tucuman">Tucumán</option>
			</select>
			<br>
			<br>
			<u>Comentarios y Sugerencias</u>
			<br>
			<textarea rows="8" cols="60"></textarea>
			<br>
			<input class="input--text input--button" type="submit" value="Enviar">
			<input class="input--text input--button" type="reset" value="Limpiar Formulario">
		</form>
	</main>
	<footer>
		<hr>
		<div class="footer--align footer--text">
			<img class="footer__imagen--height" src="../assets/img/heart.jpg"> 
			REDES SOCIALES - UBICACIÓN - PROMOCIONES BANCARIAS
			<img class="footer__imagen--height" src="../assets/img/heart.jpg">	
		</div>	
	</footer>
</body>
</html>