<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Grupos</title>
	<link rel="shortcut icon" href="../assets/img/favicon.png">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<header>
			<div class="header--text">
				<img src="../assets/img/logo_bts.jpg">
				<img src="../assets/img/logo_txt.png">
				<img src="../assets/img/logo_kard.png">
				KPOP-STORE
				<img src="../assets/img/logo_got.png">
				<img src="../assets/img/logo_twice.jpg">
				<img src="../assets/img/logo_straykids.png">
			</div>
			<nav>
				<ul class="header__nav header__nav--background">
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="../index.html">Home</a></li>
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="productos.html">Productos</a></li>
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="grupos.html">Grupos</a></li>
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="noticias.html">Noticias KPop</a></li>
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="contacto.html">Contacto</a></li>
				</ul>
				<hr>
			</nav>
		</header>
	<main>
		<h2><span class="main__titulos--texto">GRUPOS</span></h2>
		<table class="tablaGrupos">
			<tr class="tablaGrupos--texto">
				<th>IMAGEN</th>
				<th>NOMBRE GRUPO</th>
				<th>INTEGRANTES</th>
				<th>FECHA DEBUT</th>
				<th>NOMBRE FANDOM</th>
			</tr>
			<tr class="tablaGrupos--texto">
				<td><img src="../assets/img/bts.png" alt="BTS" class="imagenGrupo"></td>
				<td>BTS</td>
				<td>
					<ul>
						<li>Kim Namjoon</li>
						<li>Kim Seokjin</li>
						<li>Min Yoongi</li>
						<li>Jun Hoseok</li>
						<li>Park Jimin</li>
						<li>Kim Taehyung</li>
						<li>Jeon Jungkook</li>
					</ul>
				</td>
				<td>11 de Junio de 2013</td>
				<td>Army</td>
			</tr>
			<tr class="tablaGrupos--texto">
				<td><img src="../assets/img/got.png" alt="GOT7" class="imagenGrupo"></td>
				<td>GOT7</td>
				<td>
					<ul>
						<li>Mark Tuan</li>
						<li>Lim Jaebeom</li>
						<li>Jackson Wang</li>
						<li>Park Jinyoung</li>
						<li>Choi Youngjae</li>
						<li>BamBam</li>
						<li>Kim Yugyeom</li>
					</ul>
				</td>
				<td>16 de Enero de 2014</td>
				<td>Ahgase</td>
			</tr>
			<tr class="tablaGrupos--texto">
				<td><img src="../assets/img/twice.png" alt="TWICE" class="imagenGrupo"></td>
				<td>TWICE</td>
				<td>
					<ul>
						<li>Nayeon</li>
						<li>Jeongyeon</li>
						<li>Momo</li>
						<li>Sana</li>
						<li>Jihyo</li>
						<li>Mina</li>
						<li>Dahyun</li>
						<li>Chaeyoung</li>
						<li>Tzuyu</li>
					</ul>
				</td>
				<td>20 de Octubre de 2015</td>
				<td>Once</td>
			</tr>
			<tr class="tablaGrupos--texto">
				<td><img src="../assets/img/kard.png" alt="KARD" class="imagenGrupo"></td>
				<td>KARD</td>
				<td>
					<ul>
						<li>Kim BM</li>
						<li>Kim Taehyung</li>
						<li>Jeon Somin</li>
						<li>Jeon Jiwoo</li>
					</ul>
				</td>
				<td>19 de Julio de 2017</td>
				<td>Hidden Kard</td>
			</tr>
			<tr class="tablaGrupos--texto">
				<td><img src="../assets/img/skz.png" alt="SKZ" class="imagenGrupo"></td>
				<td>STRAY KIDS</td>
				<td>
					<ul>
						<li>Bang Chan</li>
						<li>Lee Know</li>
						<li>Changbin</li>
						<li>Hyunjin</li>
						<li>Han</li>
						<li>Felix</li>
						<li>Seungmin</li>
						<li>I.N.</li>
					</ul>
				</td>
				<td>25 de Marzo de 2018</td>
				<td>STAY</td>
			</tr>
			<tr class="tablaGrupos--texto">
				<td><img src="../assets/img/txt.png" alt="TXT" class="imagenGrupo"></td>
				<td>TXT</td>
				<td>
					<ul>
						<li>Choi Yeojun</li>
						<li>Choi Soobin</li>
						<li>Choi Beomgyu</li>
						<li>Kang Taehyun</li>
						<li>Huening Kai</li>
					</ul>
				</td>
				<td>04 de Marzo de 2019</td>
				<td>MOA</td>
			</tr>
		</table>
	</main>
	<footer>
			<hr>
			<div class="footer--align footer--text">
				<img class="footer__imagen--height" src="../assets/img/heart.jpg"> 
				REDES SOCIALES - UBICACIÓN - PROMOCIONES BANCARIAS
				<img class="footer__imagen--height" src="../assets/img/heart.jpg">	
			</div>	
		</footer>
</body>
</html>