<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Noticias</title>
	<link rel="shortcut icon" href="../assets/img/favicon.png">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<div class="contenedor-mayor">
		<header>
			<div class="header--text">
				<img src="../assets/img/logo_bts.jpg">
				<img src="../assets/img/logo_txt.png">
				<img src="../assets/img/logo_kard.png">
				KPOP-STORE
				<img src="../assets/img/logo_got.png">
				<img src="../assets/img/logo_twice.jpg">
				<img src="../assets/img/logo_straykids.png">
			</div>
			<nav>
				<ul class="header__nav header__nav--background">
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="../index.html">Home</a></li>
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="productos.html">Productos</a></li>
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="grupos.html">Grupos</a></li>
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="noticias.html">Noticias KPop</a></li>
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="contacto.html">Contacto</a></li>
				</ul>
				<hr>
			</nav>
		</header>
		<main>
			<h2><span class="main__titulos--texto">NOTICIAS</span></h2>
			<section class="contenedor-menor">
				<div class="contenedor-noticia">
					<h3 class="tituloNoticia1 titNot--texto">noticia 1</h3>
					<img src="../assets/img/mamamoo.png" alt="MAMAMOO" class="imagenNoticia1">
					<div class="descripcionNoticia1 descNot--texto">
						<p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Nisi, expedita, aperiam officiis pariatur molestiae unde. Nulla ipsa esse accusantium expedita eligendi, ratione eos modi exercitationem ab explicabo, sit quos. Officiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur maiores aliquam, rerum fuga quidem explicabo expedita molestias beatae, modi voluptas dicta eveniet voluptate placeat omnis repudiandae numquam molestiae quos, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, eligendi. Adipisci deserunt quod iste ipsam reiciendis soluta nostrum magni doloremque, et aliquam quos ratione reprehenderit aliquid sed aspernatur ex odit.</p>
					</div>
				</div>
					<br>
				<div class="contenedor-noticia">
					<h3 class="tituloNoticia2 titNot--texto">noticia 2</h3>
					<img src="../assets/img/superjunior.png" alt="SUPERJUNIOR" class="imagenNoticia2">
					<div class="descripcionNoticia2 descNot--texto">
						<p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Nisi, expedita, aperiam officiis pariatur molestiae unde. Nulla ipsa esse accusantium expedita eligendi, ratione eos modi exercitationem ab explicabo, sit quos. Officiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur maiores aliquam, rerum fuga quidem explicabo expedita molestias beatae, modi voluptas dicta eveniet voluptate placeat omnis repudiandae numquam molestiae quos, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, eligendi. Adipisci deserunt quod iste ipsam reiciendis soluta nostrum magni doloremque, et aliquam quos ratione reprehenderit aliquid sed aspernatur ex odit.</p>
					</div>
				</div>
					<br>
				<div class="contenedor-noticia">
					<h3 class="tituloNoticia3 titNot--texto">noticia 3</h3>
					<img src="../assets/img/itzy.png" alt="ITZY" class="imagenNoticia3">
					<div class="descripcionNoticia3 descNot--texto">
						<p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Nisi, expedita, aperiam officiis pariatur molestiae unde. Nulla ipsa esse accusantium expedita eligendi, ratione eos modi exercitationem ab explicabo, sit quos. Officiis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur maiores aliquam, rerum fuga quidem explicabo expedita molestias beatae, modi voluptas dicta eveniet voluptate placeat omnis repudiandae numquam molestiae quos, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, eligendi. Adipisci deserunt quod iste ipsam reiciendis soluta nostrum magni doloremque, et aliquam quos ratione reprehenderit aliquid sed aspernatur ex odit.</p>
					</div>
				</div>
			</section>
		</main>
		<footer>
			<hr>
			<div class="footer--align footer--text">
				<img class="footer__imagen--height" src="../assets/img/heart.jpg"> 
				REDES SOCIALES - UBICACIÓN - PROMOCIONES BANCARIAS
				<img class="footer__imagen--height" src="../assets/img/heart.jpg">	
			</div>	
		</footer>
	</div>
</body>
</html>