<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Productos</title>
	<link rel="shortcut icon" href="../assets/img/favicon.png">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<header>
			<div class="header--text">
				<img src="../assets/img/logo_bts.jpg">
				<img src="../assets/img/logo_txt.png">
				<img src="../assets/img/logo_kard.png">
				KPOP-STORE
				<img src="../assets/img/logo_got.png">
				<img src="../assets/img/logo_twice.jpg">
				<img src="../assets/img/logo_straykids.png">
			</div>
			<nav>
				<ul class="header__nav header__nav--background">
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="../index.html">Home</a></li>
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="productos.html">Productos</a></li>
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="grupos.html">Grupos</a></li>
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="noticias.html">Noticias KPop</a></li>
					<li class="nav__item"><a class="nav__item--text nav__item--link" href="contacto.html">Contacto</a></li>
				</ul>
				<hr>
			</nav>
		</header>
	<main>
		<h2><span class="main__titulos--texto"> PRODUCTOS</span></h2>
		<table class="tablaProductos">
			<tr class="tablaProductos--texto">
				<th>IMAGEN</th>
				<th>ID</th>
				<th>NOMBRE</th>
				<th>CARACTERISTICAS</th>
				<th>PRECIO</th>
			</tr>
			<tr class="tablaProductos--texto">
				<td><img src="../assets/img/prod_bts.png" alt="BTS" class="imagenProductos"></td>
				<td>001</td>
				<td>Llavero BT21</td>
				<td>
					<ul>
						<li>Material: Plush</li>
						<li>Medidas:</li>
						<ul>
							<li>Alto: 10cm</li>
							<li>Ancho: 6cm</li>
						</ul>
					</ul>
				</td>
				<td>$500</td>
			</tr>
			<tr class="tablaProductos--texto">
				<td><img src="../assets/img/prod_got.png" alt="GOT7" class="imagenProductos"></td>
				<td>002</td>
				<td>Ring para celular GOT7</td>
				<td>
					<ul>
						<li>Material: Metal</li>
						<li>Medidas:</li>
						<ul>
							<li>Alto: 35mm</li>
							<li>Ancho: 25mm</li>
						</ul>
					</ul>
				</td>
				<td>$300</td>
			</tr>
			<tr class="tablaProductos--texto">
				<td><img src="../assets/img/prod_twice.png" alt="TWICE" class="imagenProductos"></td>
				<td>003</td>
				<td>Posters Twice</td>
				<td>
					<ul>
						<li>Pack 6 posters</li>
						<li>Material: Papel Ilustración</li>
						<li>Acabado: Brillante</li>
						<li>Medidas:</li>
						<ul>
							<li>Alto: 47cm</li>
							<li>Ancho: 32cm</li>
						</ul>
					</ul>
				</td>
				<td>$1000</td>
			</tr>
			<tr class="tablaProductos--texto">
				<td><img src="../assets/img/prod_kard.png" alt="KARD" class="imagenProductos"></td>
				<td>004</td>
				<td>Remera Kard</td>
				<td>
					<ul>
						<li>Género: Mujer</li>
						<li>Material: Modal</li>
						<li>Talle: S/M/L</li>
					</ul>
				</td>
				<td>$1500</td>
			</tr>
			<tr class="tablaProductos--texto">
				<td><img src="../assets/img/prod_skz.png" alt="SKZ" class="imagenProductos"></td>
				<td>005</td>
				<td>Buzo Straykids</td>
				<td>
					<ul>
						<li>Género: Unisex</li>
						<li>Material: Algodón Frizado</li>
						<li>Capucha: Si</li>
						<li>Talle: S/M/L/XL/XXL</li>
					</ul>
				</td>
				<td>$3000</td>
			</tr>
			<tr class="tablaProductos--texto">
				<td><img src="../assets/img/prod_txt.png" alt="TXT" class="imagenProductos"></td>
				<td>006</td>
				<td>CD TXT Dream Chapter Eternity</td>
				<td>
					<ul>
						<li>Año de lanzamiento: 2020</li>
						<li>Cntidad de canciones: 6</li>
						<li>Incluye:</li>
						<ul>
							<li>108 page photobook</li>
							<li>Paper sticker</li>
							<li>Photocard</li>
						</ul>
					</ul>
				</td>
				<td>$8000</td>
			</tr>
		</table>
		<br>
	</main>
	<footer>
			<hr>
			<div class="footer--align footer--text">
				<img class="footer__imagen--height" src="../assets/img/heart.jpg"> 
				REDES SOCIALES - UBICACIÓN - PROMOCIONES BANCARIAS
				<img class="footer__imagen--height" src="../assets/img/heart.jpg">	
			</div>	
		</footer>
</body>
</html>